@import '../../constants/variables.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  display: flex;
  place-content: center;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: $color-primary;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  animation: fadeIn 0.3s;
  display: none;

  &.visible {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid $color-primary;
  }
}
