@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('./Lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}