@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow:auto;
}

body {
  height: 100%;
}

:global(#root) {
  height: 100%;
  background-color: $color-body-bg;
  color: $color-font-primary;
  font-family: $font-inter;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
}

//@media only screen and (min-width: $screen-tablet) {}
//@media only screen and (min-width: $screen-laptop) {}
//@media only screen and (min-width: $screen-desktop) {}
//@media only screen and (min-width: $screen-tv) {}

