@import "../../styles/variables.scss";

.input {
  box-sizing: border-box;
  display: block;
  padding: 6.5px 8px;
  font-size: 14px;
  line-height: 21px;
  color: $color-font-primary;
  border: 1px solid $color-border-form;
  border-radius: 6px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background: transparent;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $color-outline;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-font-light;
    opacity: 1; /* Firefox */
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .6;
  }

  &:read-only {
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &.loading {
    cursor: progress !important;
    opacity: .6;
  }

  &.fullWidth {
    width: 100%;
  }
}
