$color-body-bg: #fff;

$color-primary: #4A46FF;
$color-primary-hover: #5651ff;
$color-border: #e3e9ed;
$color-border-form: #ced4da;
$color-border-elements: #F0F2F4;
$color-font-primary: #374151;
$color-font-secondary: #4B5563;

$transition: all .2s ease-in-out;
